<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employées</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div>
        <a href="holidays" class="btn btn-warning border">congés</a>
        <a href="request" class="btn border">nouveau congé</a>
        <a href="employees" class="btn border">employés</a>
    </div>
    <h1>Liste des employés</h1>
    <div th:if="${list.isEmpty()}">
        <p>Pas d'employée</p>
    </div>
    <div th:unless="${list.isEmpty()}">
        <p>Les employés sont:</p>
        <ul>
            <li th:each="e:${list}" th:text="${e}"></li>
        </ul>
    </div>
</div>
</body>
</html>