

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demander un congé</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div>
            <a href="holidays" class="btn btn-warning border">congés</a>
            <a href="request" class="btn border">nouveau congé</a>
            <a href="employees" class="btn border">employés</a>
        </div>
        <h1>Demander un congé</h1>
        <form method="post" th:action="@{/request}" th:object="${holiday}">
            <div class="mb-3">
                <label class="form-label">employé: </label>
                <input class="form-control" th:field="${holiday.employee}">
            </div>
            <div>
                <label class="form-label">début: </label>
                <input class="form-control" type="date" th:field="${holiday.start}" />
            </div>
            <div>
                <label class="form-label">fin: </label>
                <input class="form-control" type="date" th:field="${holiday.end}" />
            </div>
            <div>
                <input class="form-control" type="submit" value="sauver">
            </div>
        </form>
    </div>
</body>
</html>